export(add.frame)
export(cons.angular.dat)
export(ddirimix)
export(ddirimix.grid)
export(ddirimix.grid1D)
export(dgridplot)
export(diagnose)
export(discretize)
export(dnestlog)
export(dnestlog.grid)
export(dpairbeta)
export(dpairbeta.grid)
export(excessProb.condit.dm)
export(excessProb.condit.nl)
export(excessProb.condit.pb)
export(excessProb.nl)
export(excessProb.pb)
export(expfunction.nl)
export(invlogit)
export(lAccept.ratio)
export(laplace.evt)
export(logit)
export(marginal.lkl)
export(marginal.lkl.nl)
export(marginal.lkl.pb)
export(maxLikelihood)
export(MCpriorIntFun)
export(MCpriorIntFun.nl)
export(MCpriorIntFun.pb)
export(posteriorDistr.bma)
export(posteriorMCMC)
export(posteriorMCMC.nl)
export(posteriorMCMC.pb)
export(posteriorMean)
export(posterior.predictive3D)
export(posterior.predictive.nl)
export(posterior.predictive.pb)
export(posteriorWeights)
export(prior.nl)
export(prior.pb)
export(proposal.nl)
export(proposal.pb)
export(rdirichlet)
export(rdirimix)
export(rect.integrate)
export(rnestlog)
export(rpairbeta)
export(rstable.posit)
export(scores3D)
export(transf.to.equi)
export(transf.to.rect)
import(coda)
import(graphics)
import(stats)
import(utils)
importFrom("grDevices","dev.new","gray")
S3method(diagnose,PBNLpostsample)
S3method(print,PBNLdiagnostic)
S3method(print,postsample)
useDynLib(BMAmevt, .registration = TRUE)
